<!DOCTYPE html>

<html lang="en">

<head>
  <title>Pen & Paper</title>

  <meta charset="utf-8" />

  <meta name="author" content="Pen and Paper authors (see Credits.txt)" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Pen and Paper Client Web based" />

  <!-- APIs -->
  <script src="./Engine.js"></script>
  <link rel="stylesheet" href="./Engine.css">
</head>

<body onload="main()">
  <engine-container>
    
  </engine-container>

  <script>
    async function main()
    {
      if (await Engine.Initialize())
      {
        Engine.Localize();
      }
    }
  </script>
</body>

</html>